.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .logo {
    margin-top: 0.5em;
    margin-left: 3em;

    img {
      width: 7em;
      height: auto;
    }
  }

  .searchBox {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 740px) {
  .header {
    display: block;
    text-align: center;

    .logo {
      margin-top: 1em;
      width: 35%;
      padding: 0;
      margin: 0 auto;
    }

    .searchBox {
      margin: 0 auto;
    }
  }
}
