.container {
  h1 {
    margin-left: 3em;
  }
}

.artists {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  margin-right: 0;
  width: 90%;

  .artist {
    margin: 0 1em;

    img {
      width: 10em;
      height: 10em;
    }
  }
}

@media only screen and (max-width: 740px) {
  .container {
    h1 {
      margin: 1em auto;
    }
  }

  .artists {
    display: block;
    margin: 0 auto;

    .artist {
      margin: 0;
    }
  }
}
