.container {
  h1 {
    margin-left: 3em;
  }
}

.artists {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  flex-direction: row;
  text-align: center;
  margin: 4em auto;
  margin-right: 0;
  width: 90%;

  .artist {
    margin: 0 1em;

    img {
      width: 10em;
      height: 10em;
    }
  }
}
