.links {
  .link:hover {
    svg {
      fill: hsl(0, 0, 60%);
    }

    li {
      color: hsl(0, 0, 60%);
    }
  }

  .icon {
    padding-top: 1em;
    line-height: 2em;
    width: 2.5em;
    height: 2.5em;
  }

  li {
    list-style: none;
    margin-left: 0.5em;
    margin-top: 1em;
  }

  .link:hover {
    color: hsl(0, 0, 60%);
  }
}
