.container {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  flex-direction: row;
  width: 67%;
  text-align: center;
  margin: 0 auto;

  .song {
    margin: 0 1em;

    img {
      width: 14em;
      height: auto;
    }
  }
}
