.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .logo {
    margin: 1em 0 1em 3em;

    img {
      width: 4em;
      height: auto;
    }
  }

  .searchBox {
    margin: 0 auto;
  }
}
