@import "./variables.scss";

.container {
  display: block;
  margin: 0 auto;
  text-align: center;

  h1 {
    margin-left: 3em;
    text-align: start;
  }

  img {
    width: 10em;
    height: auto;
  }

  svg:hover {
    fill: $text-hover;
  }

  ol {
    list-style-position: inside;
    list-style-type: decimal;
    color: #ffffff;
    margin: 3em auto;
    text-align: left;

    .song {
      width: 70em;
      padding: 1.5em 2em;
      background-color: rgb(56, 53, 53);
      font-size: 1.1em;

      img {
        width: 3em;
        height: auto;
        margin: 0 3em;
      }
    }

    .song:hover {
      color: $text-hover;
    }
  }
}

@media only screen and (max-width: 740px) {
  .container {
    h1 {
      text-align: center;
      margin: 1em 0;
    }
  }
}
