@import "./variables.scss";

.container {
  .heading {
    margin-bottom: 2em;
  }

  .link {
    margin-top: 1em;
  }

  img {
    width: 10em;
    height: auto;
  }

  svg:hover {
    fill: $text-hover;
  }
}
