@import "./variables.scss";

.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;

  .heading {
    margin: -1em 0 2em 0;
  }

  .link {
    margin-top: 1em;
  }

  img {
    width: 10em;
    height: auto;
  }

  svg:hover {
    fill: $text-hover;
  }
}

@media only screen and (max-width: 740px) {
  .container {
    h1 {
      text-align: center;
      margin: 1em 0;
    }
  }
}
