@import "./variables.scss";

.container {
  margin: 0 auto;
  text-align: center;

  .form {
    margin: 2em 0;
    width: 40em;

    .message {
      color: $text-error;
      margin: 1em auto;
    }

    label {
      font-size: 1.2em;
    }

    input {
      margin: 0.5em auto;
      border-radius: 0.75em;
      display: block;
    }

    .inputField {
      width: 17em;
      padding: 0.6em 1em;
    }

    .selectionLabel {
      margin-top: 3em;
    }

    select {
      width: 20em;
    }

    .btn {
      margin-top: 1em;
      width: 7em;
      height: 2.5em;
      border-radius: 0.75em;
      border: 3px solid $base-color;
      color: $base-color;
      background-color: #ffff;
    }

    .btn:hover {
      background-color: $base-color;
      color: #ffff;
    }
  }
}
