@import "./variables.scss";

.items {
  text-align: center;
  margin: 0 auto;
  width: 100%;

  div {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    width: 80%;
    background-color: rgb(243, 242, 242);
    text-align: center;

    img {
      width: 8em;
      height: 7em;
    }
    div {
      width: 70%;
      margin-right: 0;
      margin-left: auto;
    }
    p {
      margin: auto;
      vertical-align: middle;
    }
  }

  div:hover {
    color: $text-hover;
  }
}
