@import "./variables.scss";

.items {
  text-align: center;
  margin: 0 auto;
  width: 100%;

  div {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    width: 80%;
    background-color: rgb(243, 242, 242);

    img {
      width: 15em;
      height: auto;
      margin-right: 5em;
    }

    p {
      width: 30%;
      margin: auto;
      vertical-align: middle;
    }
  }

  div:hover {
    color: $text-hover;
  }
}
