.songs {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;

  .song {
    cursor: pointer;
    margin: 0 1em;

    img {
      width: 10em;
      height: 10em;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .songs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 830px) {
  .songs {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;

    .song {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 450px) {
  .songs {
    grid-template-columns: 1fr;
  }
}
