.playlists {
  width: 82%;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  padding: 0 2em;

  .playlist {
    cursor: pointer;
    margin: 0 1em;

    img {
      width: 10em;
      height: 10em;
    }
  }
}

@media only screen and (max-width: 740px) {
  .playlists {
    display: block;
    margin: 0 auto;

    .playlist {
      margin: 0;
    }
  }
}
