.container {
  display: block;
  margin: 0 auto;
  width: 90%;
  text-align: center;

  .heading {
    margin: 0 0 2em 0;
  }
}

@media only screen and (max-width: 740px) {
  .container {
    h1 {
      text-align: center;
      margin: 1em 0;
    }
  }
}
